*{
    margin: 0;
    padding: 0;
}
header{
    background: black;
}
nav{
    padding:.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 4rem;

}
.mid{
    display: flex;

}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: aqua;
    cursor: pointer;
}

.ham{
    padding: 0;
    font-size: 2rem;
    border: none;
    color: white;
    background: none;
    margin-right: 1.5rem;
}

/* About section starts from here */
.about{
    background-color: #5C8374;
}

.about--content__heading{
    font-family: "Signika", sans-serif;
    letter-spacing: 2px;
}
.about--content__para{
    font-family: "Signika", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

.about--content__image{
    border: 2px solid black;
}

.gymImage{
    position: absolute;
}

/* Media quiery starts from here */
@media(max-width:700px){
    .mid{
    display: none;
      position: absolute;
      background-color: rgb(0, 0, 0);
      gap: 1rem;
      flex-direction: column;
      right: 0;
      left: 0;
      top: 4rem;
      text-align: center;
      padding: 1rem 0;

    }

   .mid.show{
        display: flex;
    }


    /* about section starts from here */
    .about--content{
        text-align: center;
        padding: 1.5rem 3rem;
        padding-bottom: 5rem;
    }
    .about--top{
        padding-top: 1rem;
    }

    .btn{
        padding: .5rem 1.5rem;
        border-radius: 11px;
        color: white;
        background: #000000;
        font-family: "Signika", sans-serif;
    }

    .about--content__image{
        border: 2px solid black;
        background: #040D12;
        
    }
    .gymImage{
        width:60vw;
        z-index: 100;
        top: 60%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
    }
}