* {
    margin: 0;
}

 

@media(min-width:701px){

    /* Adjustments */

    .pricing{
        display: none;
    }
    .logo2{
        display: none;
    }


.navigation {
    display: flex;
    align-items: center;
} 

.aDivs {
    margin-top: 2rem;
}

.aDivs a {
    padding: 0 2rem;
    font-size: 1.5rem;
    color: #0D0B0B;
    font-weight: 400;
}

nav {

    background-color: #93B1A6;

}

.nav_top {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
 
.logo {
    width: 6rem;
    margin-left: 2rem;
}
 
.nav_right {
    background-color: black;
    width: 25%;
    height: 45rem;
    display: flex;
    padding-top: 2rem;
    justify-content: center;
  


}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    padding:1rem 2.5rem;
    background-color: #5C8374;
    color: black;
    font-weight: 600;
    border-radius: 11px;
}

a{
    text-decoration: none;
}


/* Nav bottom */

/* Nav bottom left */

.nav_bottom_left{
    position: absolute;
    top: 15rem;
    left: 3%;
}

h1{
    font-size: 4rem;
    font-weight: 700;
}

.nav_para{
    font-size: 1.5rem;
    margin: 4rem 0;
}

 

/* Nav bottom right */
.nav_bottom_right {
    position: absolute;
    top: 5.5rem;
    right: 10%;
}
}

/* Smaller Screen */


@media(max-width:700px){

    /* Adjustments */
    .nav_right{
        display: none;
    }

    .logo{
        display: none;
    }

    .logo2{
        width: 4rem;
         
    }


    /* Adjustments ends here */

    .navigation{
        display: none;
    }

    .nav_top{
        background-color: black;
    }
   

    .nav_bottom_left{
        background-color: #5C8374;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 7rem;
    }

    .nav_bottom_right{
        background-color: black;
        display: flex;
        justify-content: center;
    }

    .gym{
        width: 30rem;
        margin-top: -10rem;
    }

    .nav_heading{
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: .11rem;
        text-align: center;
        margin-top: 1.5rem;
        font-family: "Signika", sans-serif;
    }

    .nav_para{
        text-align: center;
        font-size: 1.1rem;
        margin: 1rem 0;
        font-family: "Signika", sans-serif;


    }

    .btn-secondary { 
        padding: 1rem 4rem;
        border-radius: 15px;
        font-size: 1.2rem;
        background-color: black;
        color: white;
        font-family: "Signika", sans-serif;
        margin-bottom: 1rem;
        margin-top: 1rem;

    }

    li{
        list-style: none;
    }


    /* Pricing section starts here */


    .pricing {
        background-color: #93B1A6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        overflow: hidden;

    }

    .joinToday {
        padding: 1rem 0;
        font-family: "Signika", sans-serif;
        font-size: 3.2rem;
        font-weight: 500;
    }

    .pricingPlans {
        font-family: "Signika", sans-serif;
        font-weight: 200;
        font-size: 1.5rem;
    }

    .modeM_Y {
        /* border: 2px solid white; */
        display: flex;
        justify-content: center;
    }

    .btn_1 {
        padding: .5rem 1.8rem;
        background-color: #183D3D;
        color: white;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        font-family: "Signika", sans-serif;
        font-weight: 600;
        cursor: pointer;
        font-size: 1.2rem;
        /* box-shadow: ; */
    }

    .btn_2 {
        padding: .5rem 1.8rem;
        /* border: none; */
        background-color: #93B1A6;
        font-family: "Signika", sans-serif;
        font-weight: 600;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.2rem;

    }

    /* Actual pricing box starts from here */

    .pricingContainer {
        border: 2px solid black;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
    }


    /* Yearly container starts from here */

    .yearly{
        display: none;
    }

    .yearly.visible{
        display: block;
    }
    .yearlyContainer {
        padding: 2rem ;
        background-color: #183D3D;
        display: flex;
        color: white;
        
    }

    .yearlyUl{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }





    .yearlyPlan {
        font-size: 2rem;

    }

    .yearlyFees  {
        display: flex;
        align-items: center;
    }

    .cash {
        font-size: 2.4rem;
    }

    .time {
        font-size: 1.5rem;
    }

    .yearlyInfo {
        font-size: 1.3rem;
        margin: 2rem 0;
        text-align: center;
    }

    .btns {
        padding: 1.3rem;
        width: 100%;
        border-radius: 11px;
        font-size: 1.3rem;
        font-weight: 600;
    }


    /* Monthyl Container */

     .monthly{
        position: relative;
        display: none; 
     }

     .monthly.visible{
        display: block;
     }

     

     .monthlyUl{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

    .monthlyContainer,.quaterlyContainer,.semi_quaterlyContainer{
        padding: 2rem;
        background-color: #5C8374;
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
        display: none;
 
    }

    .monthlyContainer.visible{
        display: block;
    }
    .quaterlyContainer.visible{
        display: block;
    }
    .semi_quaterlyContainer.visible{
        display: block;
    }

    
    .monthlyPlan {
        font-size: 2rem;

    }

    .monthlyFees  {
        display: flex;
        align-items: center;
    }

    .monthlyInfo  {
        font-size: 1.3rem;
        margin: 2rem 0;
        text-align: center;
    }

    .btnchoosePlanMonthly{
        background-color: black;
        color: white;
    }

    /* for slider buttons */

    .prev,.next{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        mix-blend-mode: multiply;
        border: none;
        cursor: pointer;

    }

    .prev{
        left: 0;
    }
    .next{
        right: 0;
    }

    /* Wave section starts here */

     
    
    
    

   

    

  
}